.para1, para2{
    display: inline;
}
.number1{
    margin-left: 153px;
    color: red;
    padding : 7px 20px 7px 5px;
    font-size: 22px;
    width: 150px;
}
.number2{
    margin-left: 20px;
    padding : 7px 20px 7px 5px;
    color: red;
    font-size: 22px;
}
.number3{
    margin-left: 140px;
    padding : 7px 20px 7px 5px;
    color: red;
    font-size: 22px;
}

.number1::placeholder,
.number2::placeholder,
.number3::placeholder{
    color: red;
}
.first_input,
.second_input,
.third_input
{
    margin-top: 20px;
}
